@inherits LayoutComponentBase

<div class="site page-bg">
    <header class="site-header">
        <TravellersTavern.Components.Layout.NavMenu />
    </header>

    <main class="site-content">
        @Body
    </main>

    <footer class="site-footer">
        <TravellersTavern.Components.Layout.Footer />
    </footer>
</div>
